[Unit]
Description=An Apache Kafka broker
After=network.target

[Service]
Environment=JMX_PORT=9999
User=data
WorkingDirectory=/home/data
Type=forking
ExecStart=/usr/bin/kafka-server-start -daemon /etc/kafka/server.properties
ExecStop=/usr/bin/kafka-server-stop

Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n
