[Unit]
Description=Send network statistics to Riemann
After=network.target

[Service]
User=monitoring
ExecStart=/home/monitoring/.gem/ruby/{{ ruby_version }}/bin/riemann-net --host {{ groups['riemann'][0] }} --event-host {{ inventory_hostname }}
Restart=always
