[Unit]
Description=An Apache Zookeeper instance
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/zookeeper-server-start -daemon /etc/kafka/zookeeper.properties
ExecStop=/usr/bin/zookeeper-server-stop

