[Unit]
Description=A Confluent Schema Registry instance
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/schema-registry-start -daemon /etc/schema-registry/schema-registry.properties
ExecStop=/usr/bin/schema-registry-stop

